[contenteditable] {
  display: block;
  font-family: monospace;
  font-weight: 600;
  line-height: 1.5;
  white-space: pre-wrap;
  /* overflow-wrap: break-word; */
  color: grey;
  border-radius: 0.25rem;
  padding: 1rem;
  border: 1px solid silver;

  &:hover {
    background-color: #fff;
  }
  &:focus {
    background-color: #fdfdfd;
  }
}

code {
  font-family: monospace;
  font-weight: 600;
}
.code-block {
  white-space: pre-wrap;
  border-radius: 0.25rem;
  padding: 1rem;
  border: 1px solid silver;
}
