@import url("reset.css");
@import url("variables.css");
@import url("buttons.css");
@import url("links.css");
@import url("stack-row.css");
@import url("contenteditable.css");

body {
  font-family: var(--system-ui);
  color: var(--color-text-on-light);
  background-color: var(--color-surface);
  padding: var(--gap-4);
  max-width: 600px;
  margin-inline: auto;
}

:focus-visible {
  outline-offset: 2px;
  outline-style: solid;
  outline-width: 2px;
  outline-color: var(--color-focus);
}

/* grid-template-columns: repeat (auto-fit, minmax(min(var(--min-column-size), 100%), 1fr)) ; */

ul[role="list"] {
  list-style: none;
  padding: 0;

  li + li {
    margin-top: var(--gap-2);
  }
}
