@import url("reset.css");
@import url("variables.css");
@import url("buttons.css");
@import url("links.css");
@import url("stack-row.css");
@import url("contenteditable.css");

body {
  font-family: var(--system-ui);
  color: var(--color-text-on-light);
  background-color: var(--color-surface);

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

main,
body > nav {
  padding: var(--gap-4);
  max-width: 800px;
  margin-inline: auto;
}

:focus-visible {
  outline-offset: 2px;
  outline-style: solid;
  outline-width: 2px;
  outline-color: var(--color-focus);
}

/* grid-template-columns: repeat (auto-fit, minmax(min(var(--min-column-size), 100%), 1fr)) ; */

ul[role="list"],
ol[role="list"] {
  list-style: none;
  padding: 0;
}

.icon {
  width: var(--gap-5);
  height: var(--gap-5);
}

.sr-only {
}

.box {
  height: 5rem;
  background-color: hsl(200, 100%, 50%);
  border-radius: var(--rad-1);
  display: flex;
  justify-content: center;
  align-items: center;

  &.box-number {
    counter-increment: count;
    &::before {
      content: counter(count);
    }
  }
}

input[type="radio"] {
  margin-inline-end: var(--gap-1);
}
